@CHARSET "UTF-8";


.index-content {
	padding:10px 10px;
	border: 1px solid #e6e6e6;
    border-radius: 3px;
	background: #fff none repeat scroll 0 0;
	
	margin-left: auto;
    margin-right: auto;
	width:1170px;
	height:720px;
	
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-box-shadow: 1px 1px 2px #bbb;
    -webkit-box-shadow: 1px 1px 2px #bbb;
    box-shadow: 1px 1px 2px #bbb;
}
.slide {
	float:left;
	border: 1px solid #e6e6e6;
    border-radius: 1px;
	width:800px;
	height:500px;
}

.right-box {
	float:right;
	text-align: center;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: auto;
    width: 340px;
    height:500px;
}



.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.4;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 10%;
}
.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    opacity: 0.3;
    outline: 0 none;
    text-decoration: none;
}



.none {
	display:none;
}
.inline {
	display:inline;
}


.reg-login {
}

.register-box {
	display:none;
	margin-left:auto;
	margin-right:auto;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: auto;
    width: 560px;
}

.sended-box {
	margin-left:auto;
	margin-right:auto;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: auto;
    width: 560px;
}

.login-box {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: auto;
    width: 480px;
}

.login-title {
	text-align: center;
    color: #666;
    font-size: 20px;
    margin: 20px 0 20px;
    line-height: 1.7;
    font-weight: 500;
}
.reg-title {
	margin-top:20px;
	margin-bottom:15px;
	margin-left:200px;
    color: #666;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
}
.register-body {
	margin-left:100px;
	color: #666;
}
.register-input {
	width:320px;
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.create-input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.input-he {
	margin-bottom:15px;
    border-radius: 4px;
    height: 40px;
}

.register-box span {
    border-radius: 5px;
    font-size: 12px;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    top: 0;
    width: 130px;
}

.reg-err {
	display:none;
	float:right;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:7px;
    width: 130px;
	margin-right:5px;
	
    font-size: 12px;
    overflow: hidden;
    
	border-radius: 5px;
	
    background: #ffeaea none repeat scroll 0 0;
    border: 1px solid #e5c3c4;
    color: #c00;
    line-height: 28px;
}

.pwd-err {
	display:none;
	float:right;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:7px;
    width: 130px;
	margin-right:75px;
	
    font-size: 12px;
    overflow: hidden;
    
	border-radius: 5px;
	
    background: #ffeaea none repeat scroll 0 0;
    border: 1px solid #e5c3c4;
    color: #c00;
    line-height: 28px;
}

.reg-tips {
	display:none;
	float:right;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:7px;
    width: 130px;
	margin-right:5px;
	
    color: #999;
    line-height: 15px;
    font-size: 12px;
    overflow: hidden;
    
	border-radius: 5px;
    border: 1px solid #cfdde6;
    background: #eef7fd none repeat scroll 0 0;
}
.validate {
	border-radius: 5px;
    font-size: 12px;
    overflow: hidden;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:7px;
    width: 130px;
}
.reg-btn {
	width:200px;
	height:40px;
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
    text-decoration:none;
    outline:none;
    margin-right:20px;
}

.login-btn {
	width:190px;
	height:40px;
}
.remember-me {
	margin-left:10px;
	margin-right:50px;
}

.mod-footer {
	margin-top:30px;
    background: #fafafa none repeat scroll 0 0;
    text-align: center;
    color: #66b7ff;
    height: 60px;
    line-height: 65px;
    padding: 0 60px;
}
.reg-footer {
	margin-top:15px;
    background: #fafafa none repeat scroll 0 0;
    text-align: center;
    color: #66b7ff;
    height: 50px;
    padding-top:10px;
}
.err-container {
	margin-left:80px;
	width:320px;
    margin-bottom:15px;
    
}
.login-err {
	display:none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	border-radius: 4px;
    background: #ffeaea none repeat scroll 0 0;
    border: 1px solid #e5c3c4;
    color: #b94a48;
    line-height: 38px;
}

.menu-in {
	cursor:pointer;
	
	float: right !important;
	color:#36434f;
    font-weight: bold;
    height: 42px;
    line-height: 20px;
    outline: medium none;
    
    padding-top: 10px;
    padding-left:15px;
	padding-right:15px;
}
.u-pointer {
	background-color: #4b535f;
	color:white;
}

.menu-avatar {
	cursor:pointer;
	float: right !important;
	
	background-repeat:no-repeat;
 	background-position:center;
	width:40px;
	height:40px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}












